{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["babel-plugin-module-resolver", 
            { 
                "root": [ "./src" ],
                "alias": {
                    "": "./src"
                } 
            }
        ],
        "@babel/transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ]
}

